::-webkit-scrollbar { 
	display: none; 
}

:root {
    --main: black;
    --accent: whitesmoke;
    --accent1: #212121;
	--font: 'Oxygen', 'Ubuntu', 'IBM Plex Sans', 'Assistant', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--main);
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

p, nobr, h1, h2, h3, a, button, td, th, input, * {
    text-decoration: 0;
    font-family: var(--font);
    font-size: 16px;
    text-rendering: geometricPrecision;
}

h3 {
    color: red;
}

input {
    border: none;
    background-color: transparent;
}

.finder td {
    background-color: var(--accent);
    color: var(--main);
    border: none;
    border-radius: 25px;
    padding: 8px;
}

.finder td svg {
    fill: var(--main);
    height: 16px;
    width: 16px;
    transform: translateY(2px);
}

.finder td svg * {
    fill: var(--main);
}

.floating {
    visibility: collapse;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.floating div {
    padding: 16px;
    background-color: var(--accent);
    border: none;
    border-radius: 16px;
    color: var(--main);
    position: fixed;
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 25%;
}

#list-view {
    overflow-y: scroll;
    position: fixed;
    top: 135px;
    bottom: 58px;
    left: 8px;
    right: 8px;
}

.toolbar {
    height: 50px;
    background-color: var(--accent);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}