::-webkit-scrollbar { 
	display: none; 
}

::selection {
    background: var(--accent3);
    color: var(--accent1);
}

:root {
    --main: #121212;
    --dark: #121212;
    --dark-transp: #121212;
    --light: #f5f5f5;
    --accent: #f5f5f5;
    --accent1: #333333;
    --accent2: #05386B;
    --accent3: #5CDB95;
    --blurOverlay: rgba(0, 0, 0, 0.12);
    --font: 'Oxygen', 'Ubuntu', 'IBM Plex Sans', 'Assistant', sans-serif;
    --typeVis: visible;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--main);
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--main);
}

#alpha {
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
}

p, nobr, h1, h2, h3, a, button, td, th, input, * {
    text-decoration: 0;
    font-family: var(--font);
    font-size: 16px;
    text-rendering: geometricPrecision;
}

input {
    border: none;
    background-color: transparent;
}

input#search {
    width: calc(100% - 40px);
    color: var(--main) !important;
}

#addWish {
    width: 100%;
    background-color: #121212;
    color: whitesmoke;
    padding: 8px;
    padding-left: 16px;
    border-radius: 24px;
}

.small.fab {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 8px;
}

.small.fab * {
    width: 20px;
}

.cover {
    height: 100px;
    width: 70px;
    background-color: transparent;
    border: 0;
    background-image: url("https://frank-mayer.github.io/MoviePalace/placeholder.gif");
    background-size: cover;
    border: none;
    border-radius: 4px;
    filter: grayscale(10%);
    -webkit-filter: grayscale(10%);
}

#finder {
    position: fixed;
    top: 0px;
}


#finder td {
    background-color: var(--accent);
    color: var(--main);
    border: none;
    border-radius: 25px;
    padding: 8px;
}

#finder td svg {
    fill: var(--main);
    height: 16px;
    width: 16px;
    transform: translateY(2px);
}

#finder td svg * {
    fill: var(--main);
}

#wishList-view, #wishList-view div {
    padding: unset;
    background-color: unset;
    border-color: unset;
    border: none;
    border-radius: 0;
    position: unset;
    overflow: hidden;
    box-shadow: none;
}

.floating {
    z-index: 2;
    background-color: var(--blurOverlay);
    position: absolute;
    Transform: translateX(200%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.floating .floatingChild1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--main-transp);
    border-radius: 0;
}

.floating .floatingChild2 {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    padding: 16px;
    background-color: var(--light);
    border: none;
    border-radius: 16px;
    color: #212121;
    overflow-y: scroll;
}

#list-view {
    background-color: transparent;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: var(--accent1);
    background: -webkit-linear-gradient(-30deg, var(--accent1) 0%, var(--accent1) 30%, var(--accent2) 100%);
    background: linear-gradient(-30deg, var(--accent1) 0%, var(--accent1) 30%, var(--accent2) 100%);
    background-repeat: no-repeat;
}

#list-view .column, #list-view .letter, .floating .floatingChild2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar {
    height: 50px;
    background-color: var(--dark);
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 4px;
}

#topTools {
    height: 97px;
    background-color: var(--main);
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}

@supports (-webkit-backdrop-filter: blur(16px)) {
    .toolbar {
        background-color: var(--dark-transp);
        -webkit-backdrop-filter: blur(16px);
    }
    .floating .floatingChild2 {
        background-color: var(--light-transp);
        -webkit-backdrop-filter: blur(16px);
    }
    #topTools {
        background-color: var(--main-transp);
        -webkit-backdrop-filter: blur(16px);
    }
}

@supports (backdrop-filter: blur(16px)) {
    .toolbar {
        background-color: var(--dark-transp);
        backdrop-filter: blur(16px);
    }
    .floating .floatingChild2 {
        background-color: var(--light-transp);
        backdrop-filter: blur(16px);
    }
    #topTools {
        background-color: var(--main-transp);
        backdrop-filter: blur(16px);
    }
}

.ToolbarSubtitle {
    color: #f5f5f5;
    padding: 0;
    margin: 0;
    transform: translateY(-5px);
    font-size: 12px;
}

svg, svg * {
    fill: var(--main);
    padding: 0;
    margin: 0;
}

.toolbar svg, .toolbar svg * {
    fill: #f5f5f5;
}

svg.typeIcon, svg.typeIcon * {
    fill: var(--accent);
    width: 55px;
    visibility: var(--typeVis);
}

.topTools p {
    color: var(--accent);
    text-align: left;
}

.topTools td {
    text-align: left;
    width: calc(50% - 16px);
    margin: 0;
    padding: 8px;
}

#movieCounterP {
    color: var(--accent);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#topToolHead {
    background-color: var(--main);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    width: 100%;
}

#coverSelector td {
    width: 30%;
    overflow-x: hidden;
}

#coverSelector {
    overflow-x: scroll;
    width: 100%;
}

hr {
    border: 1px solid var(--dark-transp);
    border-radius: 5px;
}