::-webkit-scrollbar { 
	display: none; 
}

::selection {
    background: transparent;
}

:root {
    --main: black;
    --accent: #FFFFFF;
    --accent1: #212121;
    --accent2: #05386B;
    --accent3: #5CDB95;
    --blurOverlay: rgba(0, 0, 0, 0.12);
    --font: 'Oxygen', 'Ubuntu', 'IBM Plex Sans', 'Assistant', sans-serif;
    --typeVis: visible;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--main);
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--main);
}

p, nobr, h1, h2, h3, a, button, td, th, input, * {
    text-decoration: 0;
    font-family: var(--font);
    font-size: 16px;
    text-rendering: geometricPrecision;
}

input {
    border: none;
    background-color: transparent;
}

input#search {
    width: calc(100% - 40px);
    color: var(--main) !important;
}

.cover {
    height: 100px;
    width: 70px;
    background-color: transparent;
    border: 0;
    background-image: url("./placeholder.gif");
    background-size: cover;
}

.finder td {
    background-color: var(--accent);
    color: var(--main);
    border: none;
    border-radius: 25px;
    padding: 8px;
}

.finder td svg {
    fill: var(--main);
    height: 16px;
    width: 16px;
    transform: translateY(2px);
}

.finder td svg * {
    fill: var(--main);
}

.floating {
    background-color: var(--blurOverlay);
    position: fixed;
    Transform: translateX(200%);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.floating div {
    padding: 16px;
    background-color: white;
    border: none;
    border-radius: 16px;
    color: black;
    position: fixed;
    overflow-y: scroll;
}

@media only screen and (max-height: 400px) {
    .floating div {
        top: 0px;
        bottom: 0px;
    }
}

@media only screen and (min-height: 400px) {
    .floating div {
        top: calc(50% - 175px);
    }
}

@media only screen and (max-width: 300px) {
    .floating div {
        left: 0px;
        right: 0px;
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 300px) {
    .floating div {
        left: calc(50% - 150px);
        right: calc(50% - 150px);
    }
}

#list-view {
    background-color: var(--accent1);
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 100px);
    left: 0;
    right: 0;
    margin: 0;
}

#list-view .column, #list-view .letter, .floating div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar {
    height: 50px;
    background-color: var(--accent);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

svg, svg * {
    fill: var(--main);
}

svg.typeIcon, svg.typeIcon * {
    fill: var(--accent);
    width: 55px;
    visibility: var(--typeVis);
}
