@keyframes slideUp {
  from {
    transform: translateY(50vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes blurFadeIn {
  from {
    backdrop-filter: blur(0) saturate(1);
    background-color: #0000;
  }
  to {
    backdrop-filter: blur(16px) saturate(1.8);
    background-color: #0007;
  }
}
