.buttomBar {
  background: linear-gradient(rgba(46, 44, 44, 0.25), #000f);
  backdrop-filter: blur(8px) saturate(1.45);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(100vh - 50px);
  height: 50px;
  text-align: justify;
  z-index: 2;
  padding: 0 8vw;
  .toolbarIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: var(--icon-size);
    height: calc(100% - 16px);
    margin: 8px;
  }
  #wishlistButton {
    background-image: url("img/wishlist.svg");
  }
  #addButton {
    background-image: url("img/add.svg");
  }
  #searchButton {
    background-image: url("img/search_white.svg");
  }
  #statisticsButton {
    background-image: url("img/statistics.svg");
  }
}

.buttomBar:after {
  content: "";
  width: 100%;
  display: inline-block;
}
