#bottomBar {
  background: linear-gradient(rgba(46, 44, 44, 0.25), #000f);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  backdrop-filter: blur(8px) saturate(1.45);
  position: fixed;
  left: 4px;
  right: 4px;
  bottom: 0;
  text-align: justify;
  z-index: 2;
  padding: 8px 8vw 0 8vw;
  .toolbarIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    padding-top: 4px;
    padding-bottom: var(--nav-nar-height);
  }
  #wishlistButton {
    background-image: url("img/wishlist.svg");
  }
  #addButton {
    background-image: url("img/add.svg");
  }
  #searchButton {
    background-image: url("img/search_white.svg");
  }
  #statisticsButton {
    background-image: url("img/statistics.svg");
  }
}

#bottomBar:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#bottomBar:not(.open) {
  top: calc(100vh - 50px - var(--nav-nar-height));
  height: calc(50px + var(--nav-nar-height));
  > li:not(.toolbarIcon) {
    display: none;
  }
}

#bottomBar.open {
  padding-bottom: var(--nav-nar-height);
  > li > ul:before {
    content: "Einstellungen";
    font-size: 28px;
    display: block;
    margin-bottom: 16px;
  }
  > li > ul#preferences {
    > li {
      margin-bottom: 16px;
      label,
      input {
        display: inline-block;
        width: 48%;
      }
    }
  }
  > li.toolbarIcon {
    display: none;
  }
}
