#listView {
  z-index: 1;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 64px;
  li {
    margin: 8px 8px 0 8px;
    padding: 4px;
    background: linear-gradient(
      175deg,
      rgb(44, 44, 46, 0.44),
      rgb(44, 44, 46, 0.75)
    );
    backdrop-filter: blur(16px) saturate(1.8);
    border-radius: 8px;
    img {
      display: inline-block;
      width: max(min(20%, 75px), 30px);
      margin-right: 8px;
    }
    span {
      width: calc(80% - 8px);
      margin: auto;
      display: inline-block;
      color: whitesmoke;
    }
  }
}
