#listView {
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 64px;
  li.letter {
    width: 100%;
    text-align: center;
    padding: 4px;
    margin-top: 8px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      175deg,
      rgb(46, 44, 44, 0.65),
      rgb(46, 44, 44, 0.85)
    );
    backdrop-filter: blur(16px) saturate(1.8);
  }
  li.movie {
    // animation: blurFadeIn 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transition-delay: 150ms;
    * {
      transition: all 200ms ease-in-out;
    }
    margin: 8px 8px 0 8px;
    padding: 8px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      175deg,
      rgb(46, 44, 44, 0.65),
      rgb(46, 44, 44, 0.85)
    );
    backdrop-filter: blur(16px) saturate(1.8);
    border-radius: 8px;
    .cover {
      display: inline-block;
      width: max(min(20%, 75px), 30px);
      margin-right: 8px;
    }
    .title {
      > i {
        font-size: 12px;
      }
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      width: calc(80% - 8px);
      display: inline-block;
      color: whitesmoke;
      font-size: min(6.5vw, 24px);
    }
    // .info {
    //   max-height: 25vh;
    //   overflow-y: auto;
    // }
    .info {
      max-height: 10vh;
      overflow: hidden;
      opacity: 0.5;
      transition: opacity height 200ms ease-in-out;
    }
    .info:hover {
      max-height: unset;
      opacity: unset;
    }
    .info,
    .closeBtn,
    .adult,
    .cast,
    .genres {
      display: none;
    }
    .closeBtn {
      position: fixed;
      top: var(--line-height);
      left: var(--line-height);
      right: calc(100% - var(--icon-size));
      height: var(--icon-size);
      width: var(--icon-size);
    }
    .adult {
      background-color: transparent;
      border: white 2px solid;
      border-radius: 4px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: white;
      padding: 2px 4px;
    }
    .genres,
    .cast {
      margin-top: var(--line-height);
    }
    .control {
      padding: 12px 0;
      margin-top: 32px;
      span {
        font-size: 24px;
        border: 2px solid white;
        // background-color: white;
        // color: black;
        border-radius: 8px;
        padding: 4px 8px;
        margin: 2px 4px;
      }
    }
  }
  li.open {
    .control {
      display: none !important;
      * {
        display: none !important;
      }
    }
    background: linear-gradient(
      175deg,
      rgb(46, 44, 44, 0.75),
      rgb(46, 44, 44, 0.95)
    );
    position: fixed;
    z-index: 3;
    border-radius: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: auto;
    .cover {
      display: block;
      width: min(50%, 150px);
      margin: 0 auto var(--line-height) auto;
    }
    .title {
      color: transparent;
      > * {
        display: none;
      }
    }
    .adult,
    .info,
    .closeBtn,
    .genres,
    .cast {
      display: block;
    }
  }
}
