:root {
  --line-height: 18px;
  --icon-size: 40px;
}

body {
  background-image: url("/img/wallpaper.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

* {
  color: white;
  font-family: sans-serif;
  font-size: var(--line-height);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.blur {
  animation: blurFadeIn 200ms ease-in-out;
  backdrop-filter: blur(16px) saturate(1.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: #0007;
}
