#loader {
    position: absolute;
    left: calc(50% - 73px);
    top: calc(50% - 73px);
    border: 16px solid #00000030;
    border-radius: 50%;
    border-top: 16px solid #5CDB95;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#load {
    background: -webkit-linear-gradient(-30deg, var(--accent1) 0%, var(--accent1) 30%, var(--accent2) 100%);
    background: linear-gradient(-30deg, var(--accent1) 0%, var(--accent1) 30%, var(--accent2) 100%);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
}